.Button {
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    border: 1px solid #fff;
    background-color: #d3d3d3;
    font-size: 32px;
    height: 80px;
}

.Button:active {
    background-color: #999;
}

.Button:focus {
    outline: none;
}

.Button.size-1 {
    width: 80px;
}

.Button.size-3 {
    width: 240px;
}

@media (min-width: 400px) and (max-width: 479px) {
    .Button.size-1 {
        width: 90px;
    }

    .Button.size-3 {
        width: 270px;
    }
}
