.Calc {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    /*border: 1px solid lightgray;*/
    /*border-radius: 20px;*/
}

@media (min-width: 400px) {
    .Calc {
        width: 360px;
    }
}

@media (min-width: 480px) {
    .Calc {
        width: 480px;
    }
}
