.Screen-container {
    padding: 10px 5px;
    text-align: right;
    font-family: monospace;
    color: #fff;
    background-color: #222;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.Screen-input {
    font-size: 32px;
}

.Screen-expression {
    font-size: 16px;
    min-height: 20px;
}
