.App {
  text-align: center;
  background-color: #222;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-container {
  flex: 1;
  padding: 0 15px;
}

.App-footer {
  padding: 20px;
  color: gray;
}

.App-footer a {
  text-decoration: none;
}
