.App {
  text-align: center;
  background-color: #e68a19;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: #222;
}

.App-container {
  flex: 1;
}

.App-footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #222;
  color: #696969;
  font-size: 0.9em;
}

a,a:visited,a:active,a:focus {
  text-decoration: none;
  color: #e68a19;
}

a:hover {
  color: darkorange;
}
